<h1>New Entry for <%= @place["name"] %></h1>

<form action="/entries" method="post">
  <input type="hidden" name="place_id" value="<%= @place_id %>">

  <p>
    <label>Title</label><br>
    <input type="text" name="title">
  </p>

  <p>
    <label>Description</label><br>
    <textarea name="description"></textarea>
  </p>

  <p>
    <label>Date</label><br>
  <input type="date" name="occurred_on">
  </p>

  <button>Create Entry</button>
</form>

<p>
  <a href="/places/<%= @place_id %>">Back to place</a>
</p>
