<h1>New Place</h1>

<form action="/places" method="post">
  <p>
    <label for="name">Name</label>
    <input id="name" type="text" name="name">
  </p>

  <button>Create Place</button>
</form>

<p>
  <a href="/places">Back to places</a>
</p>
